body {
    background-color: #e9f5ff;
    color: #333;
}

.profile-pic {
    width: 48px;
    height: 48px;
    background-color: #ccc;
}

textarea {
    resize: none;
}

#tweetBtn {
    min-width: 80px;
}

#tweetBtn:hover {
    background-color: #0d6efd;
    color: #fff;
}

#tweetBtn:active {
    background-color: #0b5ed7;
}
